.modal-dialog
  / モーダルのコンテンツ部分
  .modal-content
    / モーダルのヘッダー
    .container
      .modal-header
        / モーダルのタイトル
        .h4#exampleModalLabel.modal-title メンバーを招待
        / 閉じるアイコン
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = form_tag create_invite_user_companies_path(company_id: @company.id), method: :post do
        = text_field_tag :email, nil, class: "form-control"
        - company_users_roles = CompanyUser.roles.map{|k,v|[k,v] if k != "owner"}.compact
        = select_tag :role, options_for_select(company_users_roles), class: "form-control"
        = submit_tag :招待, class: "form-control btn btn-primary"
