- if @order.taobao_color_size.present?
  = link_to "#{@order.taobao_color_size}", edit_japanese_retailer_order_path(@order), remote: true, class: "btn btn-light pull-right edit-btn"
- else
  = link_to "中国語で色・サイズなどを入力", edit_japanese_retailer_order_path(@order), remote: true, class: "btn btn-light pull-right edit-btn", style: "color: gray", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right", delay: { "show": 200, "hide": 100 }}
