#search_companies_index
  .row.pt-2
    .col
      = link_to company_connects_path, class: 'btn btn-sm btn-link' do
        %i.fas.fa-arrow-left
        自社と既に取引している事業者一覧
  .row.pt-2
    .col
      .h5.font-weight-bold 買付代行事業者一覧
      %table.table.table-bordered.mt-1#owner_company_table.ml-4.w-50{style: "table-layout:fixed"}
        %thead.thead-light
          %tr
            %th 事業者名
            %th メッセージを送る
        %tbody
          - @companies.each do |company|
            %tr
              %td= company.name
              %td
                - if !@trade_companies.include?(company)
                  = link_to company_connects_path(company_id: company.id), method: :post, class: 'btn btn-primary' do
                    %p メッセージを送る
  


