#search_companies_index
  .row
    .col
      .h5.font-weight-bold 買付代行事業者一覧
      %table.table.table-bordered.mt-1#owner_company_table.ml-4.w-50{style: "table-layout:fixed"}
        %thead.thead-light
          %tr
            %th 事業者名
            %th メッセージを送る
        %tbody
          - @chinese_buyer_companies.each do |company|
            - if company != current_company 
              %tr
                %td= company.name
                %td
                  = link_to japanese_retailer_topics_path(company_id: company.id), class: 'btn btn-primary' do
                    %p メッセージを送る
  


