%nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom.nav-header
  %ul.ml-auto
    %li.dropdown
      %button.btn.btn-sm.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        =  current_user.name
      .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "dropdownMenuButton"}
        = link_to "会社の切り替え", logout_companies_path, class: "dropdown-item"
        .dropdown-divider
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"
