#sidebar-wrapper.bg-light.border-right
  .d-block
    .sidebar-heading.text-muted
      .h5 ChinaTradeSystem
  %ul.list-group
    %li
      = link_to japanese_retailer_orders_path, class: "list-group-item list-group-item-action bg-light" do
        %i.fas.far.fa-list-alt.fa-lg.active.list-fontawsome.mt-1
        .active.list-item 注文一覧
    %li
      = link_to item_sets_path, class: "list-group-item list-group-item-action bg-light" do
        %i.fa.fa-store-alt.fa-lg.active.list-fontawsome.mt-1
        .active.list-item 買付先一覧
    %li
      = link_to company_connects_path, class: "list-group-item list-group-item-action bg-light" do
        %i.fas.fa-building.fa-lg.active.list-fontawsome.mt-1
        .active.list-item 取引先一覧
  .d-block.mt-2
    .d-inline-block.float-right#arrow-toggle
      .btn.btn-light#sidebarCollapse
        %i.fas.fa-arrow-left.fa-lg
        %i.active.fas.fa-arrow-right.fa-lg

