= form_for(@order, url: order_path(@order), remote: true) do |f|
  .form-inline
    = f.text_field :taobao_color_size, class: "form-control", style: "max-width: 120px"
    = f.submit "保存", class: "btn btn-success save-btn ml-1"