- if @order.taobao_color_size.present?
  = link_to "#{@order.taobao_color_size}", edit_order_path(@order), remote: true, class: "btn btn-light pull-right edit-btn"
- else
  = link_to "中国語のカラー・サイズを入力", edit_order_path(@order), remote: true, class: "btn btn-light pull-right edit-btn", style: "color: gray; font-size: 12px;"