#companies_wrapper nav {
  width: 100%;
}

#companies_wrapper #container {
  padding-top: 36px;
}

#companies_wrapper #owner_company_table {
  table-layout: fixed;
}

#companies_wrapper #belong_company_table {
  table-layout: fixed;
}
#companies_index {
  .th_member {
    width: 330px;
  }
}

#companies_edit {
  .table_700 {
    width: 700px
  }
  .th_80 {
    width: 80px;
  }
  .th_100 {
    width: 100px;
  }
  .th_120 {
    width: 120px;
  }
  .th_140 {
    width: 140px;
  }
}
