#companies_wrapper nav {
  width: 100%;
}

#companies_wrapper #container {
  padding-top: 36px;
}

#companies_wrapper #owner_company_table {
  table-layout: fixed;
}

#companies_wrapper #belong_company_table {
  table-layout: fixed;
}
