@mixin display-none-btn($bottom: 5%, $right: 5%) {
  position: absolute;
  bottom: $bottom;
  right: $right;
  opacity: 0;
  transition: all 0.8s;
  // display: none;
}

@mixin display-none-add-btn {
  opacity: 0;
  transition: all 0.8s;
}

@mixin display-btn {
  opacity: 1;
  // display: block;
}
.picture-block {
  position: relative;
  .btn {
    @include display-none-btn;
    z-index: 2;
  }
  &:hover .btn {
    @include display-btn;
  }
}

.picture-addition-block {
  .btn-sm {
    @include display-none-add-btn;
    z-index: 2;
  }
  &:hover>.btn-sm {
    @include display-btn;
  }
}

