@mixin display-none-delete-btn($top: 5%, $right: 5%) {
  position: absolute;
  top: $top;
  right: $right;
  opacity: 0;
  transition: all 0.8s;
  // display: none;
}

@mixin display-none-edit-btn($bottom: 5%, $right: 5%) {
  position: absolute;
  bottom: $bottom;
  right: $right;
  opacity: 0;
  transition: all 0.8s;
  // display: none;
}

@mixin display-none-add-btn($bottom: 5%, $right: 5%) {
  opacity: 0;
  transition: all 0.8s;
}

@mixin display-btn {
  opacity: 1;
}
.picture-block {
  position: relative;
  .delete-btn {
    @include display-none-delete-btn;
  }
  &:hover .delete-btn {
    @include display-btn;
  }
  .edit-btn {
    @include display-none-edit-btn;
    z-index: 2;
  }
  &:hover .edit-btn {
    @include display-btn;
  }
}

.picture-addition-block {
  .add-btn {
    @include display-none-add-btn;
    z-index: 2;
  }
  &:hover>.btn-sm {
    @include display-btn;
  }
}

