= form_for(@taobao_color_size, url: taobao_color_size_path, remote: true) do |f|
  .form-inline
    = f.hidden_field :order_id, value: @taobao_color_size.order_id
    = f.text_area :name, class: "form-control w-100"
    .d-inline-block.p-1{style: "width: 60%;"}
      = f.submit "Save", class: "btn btn-primary save-btn btn-block btn-sm"
    .d-inline-block.p-1{style: "width: 40%;"}
      %button.btn.btn-default.border-primary.text-primary.btn-cancel.btn-block.btn-sm{:type => "button"} Cancel

:javascript
  
  $('.btn-cancel').click(function() {
    $('.delete-btn').removeClass('disabled');
    $('.edit-btn').removeClass('disabled');
    $('.add-btn').removeClass('disabled');
    var a_tag_of_name_present = `${taobao_color_size_name}`;
    $(`#taobao_color_size-order_id-${order_id}`).children('.taobao_color_size_name').html(a_tag_of_name_present);
  });
  $(function(){
    $('.delete-btn').addClass('disabled');
    $('.edit-btn').addClass('disabled');
    $('.add-btn').addClass('disabled');
  });
