.d-inline-block
  メモ:
.d-inline-block
  - if @order.taobao_color_size
    = link_to edit_taobao_color_size_path(@order.taobao_color_size.id), remote: true, class: "btn btn-light btn-sm text-left edit-btn btn-block" do
      %i.fas.fa-pen-alt
  - else
    = link_to new_taobao_color_size_path(order_id: @order.id), remote: true, class: "btn btn-light btn-sm text-left edit-btn btn-block" do
      %i.fas.fa-pen-alt
    
%div.mt-2.taobao_color_size_name.text-break
  = simple_format(@order&.taobao_color_size&.name)

:javascript
  $(function(){
    $('.delete-btn').removeClass('disabled');
    $('.edit-btn').removeClass('disabled');
    $('.add-btn').removeClass('disabled');
  });
